
a {
    cursor: pointer;
}

.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}
.logo {
    width: 400px;
    margin: 30px;
}
.logo img {
    width: 100%;
}
.logo h1 {
    color: #999;
    letter-spacing: 12px;
    line-height: 0.85;
    background: #635872;
    padding: 3px 15px;
    text-shadow: 1px 1px 1px aliceblue;
}
.errorMessage {
    color: red;
    border: 2px solid;
    display: inline;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
}
.action-data {
    background-color: rgba(255, 0, 0, 0.23);
}
.action-data div{
    background-color: rgba(255,255,255,0.9);;
}

.color-box p {
    background: rgba(255,255,255,0.6);
    border-radius: 0;
    padding: 0 5px 5px;
    margin: 0;
}
#imageButtonSelectedContainer {
    padding: 20px;
}
#imageButtonSelectedContainer li {
    list-style: none;
    margin-bottom: 10px;
}
#imageButtonSelectedContainer li a{
    width: 220px;
}
.bd-callouts {
    padding: 10px 10px 5px;
    border-left: 5px #bad5f2 solid;
    background-color: #e2f5fb;
    font-style: italic;
    font-weight: lighter;
}
#search-results {
    background: #fff;
    border: 3px solid #a06ab0ba;
    padding: 30px;
    border-radius: 5px;
    top: 110%;
    box-shadow: 0 0 25px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 25px rgba(0,0,0,.1);
}
#search-results .btn {
    padding: 0 5px 2px;
    font-size: 0.85em;
}
#search-results li {
    list-style: none;
}
.selector-date {
    background: #E7DDF3;
    border-radius: 10px;
    padding: 5px 15px 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.selector-date h6 {
    font-weight: 600;
}
.selector-date .content-container {
    background: rgba(255,255,255,0.6);min-width: 250px;
}
#selectionForm, .color-box {
    background: #DFDFF4;
    padding: 30px;
    border-radius: 15px;
}
 .btn.btn-classic{
    background: #635872;
    color: #fff;
}
.clear-btn {
    background-color: transparent;
    border:none;
}
.form-check-input:checked {
    background-color: #8B8BC5;
    border-color: #8B8BC5;
}
#selectionForm label.btn{
    padding: 2px 8px;
}

.ripple-shadow-wrapper {
  display: inline-block;
  filter: url(#ripple);
  border-radius: 16px;
  padding: 0.5rem;
}

.ripple-shadow-wrapper button {
  border: none;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

.ripple-shadow-wrapper button:hover {
  transform: scale(1.05);
}

.form-check.selector-date .form-check-input{
    margin: 5px 10px 0 0;
}

li.sortable-item {
    cursor: grab;
}

.note-editable {
    background-color: #fff;
    color: #3e3e3e;
}

#actions-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.action-card {
    background-color: #FFF4FB;
    padding: 5px 10px;
    border: 1px solid #E9E4E9;
}

@media (max-width: 800px) {
    .logo {
        width: 200px;
        margin: 10px;
    }
    .logo h1{
        font-size: 15px;
        letter-spacing: 9.5px;
    }

    #imageButtonSelectedContainer li a {
      width: 100%;
      margin-bottom: 10px;
    }

    #imageButtonSelectedContainer li {
      margin-bottom: 40px;
    }
}