.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}
.logo {
    width: 400px;
    margin: 30px;
}
.logo img {
    width: 100%;
}
.logo h1 {
    color: #999;
    letter-spacing: 12px;
    line-height: 0.85;
    background: #635872;
    padding: 3px 15px;
    text-shadow: 1px 1px 1px aliceblue;
}

.selector-date {
    background: #E7DDF3;
    border-radius: 10px;
    padding: 5px 15px 5px;
    box-sizing: border-box;
}
#selectionForm {
    background: #DFDFF4;
    padding: 30px;
    border-radius: 15px;
}
 .btn.btn-classic{
    background: #635872;
    color: #fff;
}
.clear-btn {
    background-color: transparent;
    border:none;
}
.form-check-input:checked {
    background-color: #8B8BC5;
    border-color: #8B8BC5;
}
#selectionForm label.btn{
    padding: 2px 8px;
}

.ripple-shadow-wrapper {
  display: inline-block;
  filter: url(#ripple);
  border-radius: 16px;
  padding: 0.5rem;
}

.ripple-shadow-wrapper button {
  border: none;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

.ripple-shadow-wrapper button:hover {
  transform: scale(1.05);
}

li.sortable-item {
    cursor: grab;
}