<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Настройки Телеграм Бота</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bot-settings.js}"></script>
</head>
<body>
<div th:insert="~{fragments/fragments :: logo}" class="position-logo"></div>
<div class="container mb-5">
    <H1 class="mb-5">Настройки Бота. <br/><span style="color:red; font-weight: bold;">СЮДА ТОЖЕ НЕ ЛЕЗТЬ</span></H1>
    <div class="selector-date ">
        <h5>Выбор категорий которые будут участвовать в показе остатков</h5>
        <form action="/bot-settings" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="d-flex flex-row flex-wrap">
                <div class="d-flex flex-row col-auto me-3 selector-date">
                    <div id="categorySelectorContainer">
                    </div>
                </div>
                <div class="d-flex flex-row col-auto me-3 selector-date">
                    <div  style="background: rgba(255,255,255,0.6);min-width: 250px;">
                        <h6 class="p-2 pb-0">Категории</h6>
                        <ul id="sortableCategories" class="px-4 m-0">

                        </ul>
                        <button id="saveBtn" class="btn btn-classic mb-2 mt-3 mx-3 d-none" type="submit" >Сохранить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
</html>