<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки Телеграм Бота</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bot-settings.js}"></script>
    <script th:src="@{/js/bot-settings-image-link.js}"></script>
</head>
<body>
<div th:insert="~{fragments/fragments :: logo}" class="position-logo"></div>
<div class="container mb-5">
    <H1 class="mb-5">Настройки Телеграм-Бота</H1>



    <div class="d-flex flex-wrap">
        <div class="col-xl-12 p-2 ">
            <div th:insert="~{fragments/bot-settings-fragments :: FormChoiceUser}"></div>
        </div>
        <div class="col-xl-6 p-2 ">
            <div th:insert="~{fragments/bot-settings-fragments :: FormCreateCategoriesSelected}"></div>
        </div>
        <div class="col-xl-6 p-2">
            <div th:insert="~{fragments/bot-settings-fragments :: FormCreateStoreSelected}"></div>
        </div>
        <div class=" col-12 col-xl-8 p-2 m-auto my-4">
            <div th:insert="~{fragments/bot-settings-fragments :: FormCreateImageLinkButton}"></div>
        </div>
    </div>
    <div class="flex flex-column p-2">
        <div th:insert="~{fragments/buttons-fragments :: ButtonUpdateStocks}"></div>
    </div>
</div>
</body>
</html>